*, 
*::after, 
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --width: calc(100% - 2rem);
    --max-width: 1300px;

    --clr-primary: #0B3C5D;
    --clr-text-main: #FFFFFF;
    --clr-dark: #121212;
    --clr-selected: #009BFF;
    --clr-wrong: #EE0000;
}

body {
    font-family: 'Jost', sans-serif;
}

h1 {
    margin: 1rem 0;
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
}

button {
    min-width: 160px;
    padding: .4em 0;
    background: var(--clr-dark);
    border: none;
    border-radius: 8px;
    color: var(--clr-text-main);
    font-size: 1.2rem;
    cursor: pointer;
}

.section-wrapper {
    display: flex;
    position: sticky;
    z-index: 10;
    top: 0;
    margin: 0;
    padding: 0;
    background: var(--clr-primary);
}

.header-container {
    width: calc(100% - 4rem);
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    color: var(--clr-text-main);
    font-size: 1.6rem;
    padding: .3em 0;
}

.header-container li {
    list-style-type: none;
}

.header-container a {
    color: inherit;
    text-decoration: none;
}

.section-container {
    width: calc(100% - 6rem);
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: center;
}

.section-container p {
    margin-bottom: .5rem;
    text-align: center;
}

.selected {
    background: var(--clr-selected);
    color: var(--clr-dark);
}

.wrong {
    background: var(--clr-wrong);
    
}